Intake Pipeline.json
{
  "name": "Intake Pipeline",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI System Approvals ",
        "formDescription": "Used to evaluate any system to be used or developed within the company ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "System Name "
            },
            {
              "fieldLabel": "Vendor "
            },
            {
              "fieldLabel": "Version Release "
            },
            {
              "fieldLabel": "System Owner ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Privacy "
                  },
                  {
                    "option": "Compliance"
                  },
                  {
                    "option": "Engineering "
                  },
                  {
                    "option": "Digital "
                  },
                  {
                    "option": "Data Governance"
                  },
                  {
                    "option": "Information "
                  }
                ]
              }
            },
            {
              "fieldLabel": "Intended Purpose Category ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Customer Service "
                  },
                  {
                    "option": "Employment & HR Management "
                  },
                  {
                    "option": "Biometrics & Identity "
                  },
                  {
                    "option": "Credit & Financial Assessment "
                  },
                  {
                    "option": "Insurance & Health Triage "
                  },
                  {
                    "option": "Education & Training "
                  },
                  {
                    "option": "Critical Infrastructure Management "
                  }
                ]
              }
            },
            {
              "fieldLabel": "NIST AI RMF Stage ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Map "
                  },
                  {
                    "option": "Measure "
                  },
                  {
                    "option": "Manage "
                  },
                  {
                    "option": "Govern "
                  }
                ]
              }
            },
            {
              "fieldLabel": "Deployment Type ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Proprietary Model "
                  },
                  {
                    "option": "Open Source Local LLM "
                  },
                  {
                    "option": "Third Party Vendor SaaS"
                  },
                  {
                    "option": "Third Party Vendor API "
                  }
                ]
              }
            },
            {
              "fieldLabel": "EU AI Act Risk Classification ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "High Risk "
                  },
                  {
                    "option": "Medium Risk "
                  },
                  {
                    "option": "Low Risk "
                  }
                ]
              }
            },
            {
              "fieldLabel": "Subject Data Types ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "PII "
                  },
                  {
                    "option": "Special categories of PII "
                  },
                  {
                    "option": "Protected Health Information "
                  },
                  {
                    "option": "Financial data "
                  },
                  {
                    "option": "Biometric data "
                  },
                  {
                    "option": "Truly anonymized data "
                  },
                  {
                    "option": "HR data "
                  },
                  {
                    "option": "External IP "
                  },
                  {
                    "option": "Trade Secrets & Internal IP "
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "7b7084f1-404b-4f7b-868f-efb57dcbd935",
      "name": "On form submission",
      "webhookId": "34ba497b-3d99-4ea4-9a32-a2188640863a"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "https://www.notion.so/3352a1908c168088baefd2a99df66084?v=3352a1908c168035babf000c3e01e74f&t=3352a1908c16809b922100a97ee64f84",
          "mode": "url"
        },
        "title": "AI System Inventory- Master",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "System Name |title",
              "title": "={{ $json['System Name '] }}"
            },
            {
              "key": "Vendor Provider |rich_text",
              "textContent": "={{ $json['Vendor '] }}"
            },
            {
              "key": "Version Release|rich_text",
              "textContent": "={{ $json['Version Release '] }}"
            },
            {
              "key": "Intended Purpose |select",
              "selectValue": "={{ $json['Intended Purpose Category '] }}"
            },
            {
              "key": "NIST AI RMF Stage |select",
              "selectValue": "Map"
            },
            {
              "key": "EU AI Act Risk Classification|select",
              "selectValue": "Minimal Risk"
            },
            {
              "key": "Compliance Status |select",
              "selectValue": "Pending"
            },
            {
              "key": "System Owner |multi_select",
              "multiSelectValue": "={{ $json['System Owner '] }}"
            },
            {
              "key": "Subject Data Types|multi_select",
              "multiSelectValue": "={{ $json['Subject Data Types '] }}"
            },
            {
              "key": "Deployment Type |select",
              "selectValue": "={{ $json['Deployment Type '] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "bd39d75b-d1d5-4b1c-9398-11063925c515",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "PF5a3HBWGmag7si4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Intended Purpose:  {{ $json.property_intended_purpose }}\nSubject Data Types: {{ $json.property_subject_data_types }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an elite AI Compliance Officer. Your job is to classify AI systems based on the EU AI Act and standard US/EU Liability doctrines. Review the provided 'Intended Purpose', 'Use Case', and 'Data Types'. Step 1: Determine EU AI Act Risk Tier: [Unacceptable Risk, High Risk, Limited Risk, Minimal / No Risk]. Step 2: Determine Liability Theory Exposure (Select all that apply): [EU: Strict Liability, EU: Fault-Based, US: Negligence, US: Copyright & IP Infringement]. Step 3: Determine Overall Liability Risk: [High Exposure, Medium Exposure, Low Exposure]."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        432,
        0
      ],
      "id": "9462a8fc-1ee4-45c8-883d-05416e389cfb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        432,
        176
      ],
      "id": "cb26121c-a1e6-4f4e-84e1-0b3bb85e58cf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vckcWLMTcKikj6IH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Create a database page').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "EU AI Act Risk Classification|select",
              "selectValue": "={{ $json.output.EU_Risk_Tier }}"
            },
            {
              "key": "US/EU Liability Exposure|multi_select",
              "multiSelectValue": "={{ $json.output.Overall_Liability }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        784,
        0
      ],
      "id": "22fdc965-992d-481e-815c-34bf070f4b59",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "PF5a3HBWGmag7si4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"EU_Risk_Tier\": \"Minimal Risk\",\n  \"Overall_Liability\": \"Low Exposure\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        176
      ],
      "id": "1e716d98-a549-4954-ab3d-88b291a267ab",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "System Name ": "Clearview AI Database",
          "Vendor ": "Clearview AI",
          "Version Release ": "v2024",
          "System Owner ": "Information ",
          "Intended Purpose Category ": "Biometrics & Identity ",
          "NIST AI RMF Stage ": "Map ",
          "Deployment Type ": "Third Party Vendor SaaS",
          "EU AI Act Risk Classification ": "Medium Risk ",
          "Subject Data Types ": "PII ",
          "submittedAt": "2026-04-02T17:44:44.116+02:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "5667ef1a-9940-40de-b35a-1eadaba7eb2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cbb037922a148d47cef7ec0686188860573215053e57ddd8358b0018391d0b82"
  },
  "id": "xJhCC7kYFBeanTTa",
  "tags": []
}